@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 20px;
    background-color: #76CDD8;
    font-size: 18px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.btn_s {
    margin: 20px -15px 10px;
    width: 150px;
}

.name_method {
    font-size: 20px;
    text-align: center;
    background-color: #C2CE52;
}

h1 {
    color: #fff;
    font-size: 22px;
}

h2 {
    background-color: #C2CE52;
    text-align: center;
    max-width: 300px;
    font-size: 18px;
}

span  {
}

p {
    background-color: grey;
    display: block;
    color: white;
    max-width: max-content;
    padding: 10px 10px;
}